# Sanity
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=
SANITY_API_TOKEN=
SANITY_PREVIEW_SECRET=

# Site
SITE_DOMAIN_NAME=
NEXT_PUBLIC_SITE_DOMAIN_NAME=

# Sentry
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# Apsis (newsletter)
APSIS_MAILING_LIST_ID=
APSIS_API_KEY_BASE64=

# Forms
FORM_RECIPIENT_EMAIL=

# EWS (Exchange / email)
EWS_TENANT_ID=
EWS_CLIENT_ID=
EWS_CLIENT_SECRET=
EWS_SENDER_EMAIL_ADDRESS=
EWS_SENDER_NAME=
EWS_MEMBER_FOLDER_ID=
